body {
  background-image: url(img/profile/background.jpg);
}



/* Burger */

.burger__section {
  position: absolute;
  transform: translateY(-100em);
  display: none;
  z-index: 22;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-image: url(img/burger/background.jpg);
  animation-name: BurgerClose;
  animation-duration: 4s;

}



.burger-area {
  height: 34px;
  width: 45px;
  cursor: pointer;
  background-color: transparent;
}


.burger__section.off {
  display: block;
  animation-duration: 6s;
  animation-name: BurgerClose;
}

@keyframes BurgerClose {
  from {
    transform: translateY(0em);
  }

  to {
    transform: translateY(-100em);
  }
}





.burger__section.active {
  display: block;
  transform: translateY(0em);
  animation-duration: 1s;
  animation-name: BurgerOpen;
}

@keyframes BurgerOpen {
  from {
    transform: translateY(-100em);
  }

  to {
    transform: translateY(0em);
  }
}

.burger__wrapper {
  padding: 0 30px;
}

.burger__list {
  padding: 200px 0px 100px;
  width: 100%;
  margin: 0 20px;
  display: block;
  text-align: center;
}



.burger__link {
  display: flex;
  position: relative;
  margin-bottom: 40px;
  color: #ffff;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 2;
  justify-content: center;
}

.link__text {
  max-width: max-content;
  text-align: center;
  position: relative;
}

.link__text::before {
  content: "";
  top: 0px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 130%;
  background-color: #000;
  filter: blur(15px);
  z-index: -2;
  opacity: .7;
}

.burger__link:hover {
  color: #72D624;
  transition: .2s linear;
}

.burger__footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}




/* Profile */


.profil__section {
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(img/profile/background.jpg);
}

.profile__buttons {
  padding: 65px 0 60px;
  display: flex;
  justify-content: space-between;

}

.profile-btn {
  display: flex;
  position: relative;
  text-decoration: none;
  color: #0E0F10;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  width: 278px;
  height: 53px;
  background-color: #FFFF;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.profile-btn.active:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 6px;
  background-color: #72D624;
  bottom: -1em;
  left: 0;
  border-radius: 10px;

}


.profile__img {
  border-radius: 50%;
}

.profile__content {
  background-color: #3B3B3B;
  padding: 85px 170px;
  display: flex;
  border-radius: 10px;
}

.profile__left {
  display: block;
  max-width: min-content;
  height: auto;
  margin-right: 100px;
}

.profile__mail {
  display: flex;
  padding-top: 50px;
  color: #FFFF;
  font-weight: 600;
  justify-content: center;
}

.profile__right {
  width: 50%;
  margin-left: 100px;

}

.TikTok-input {
  display: flex;
  position: relative;
  text-decoration: none;
  color: #0E0F10;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  height: 68px;
  background-color: #EFEFEF;
  align-items: center;
  justify-content: center;
  border: 0;
}

.TikTok-input::placeholder {
  text-align: center;
  color: #0E0F10;
  opacity: 1;
}


.TikTok-btn {
  border: none;
  background: transparent;
  width: 100%;
}


.transparent-btn {
  display: block;
  margin: 45px 0;
  position: relative;
  padding: 11px 59.02px 11.01px;
  width: 100%;
  height: 73px;
  border: 3px solid #72D624;
  background-color: transparent;
  border-radius: 6px;
  color: #FFFF;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  z-index: 0;
}

.transparent-input {
  opacity: 0;
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 0;

}

.registration-btn {
  display: inline-block;
  border-radius: 6px;
  background: #72D624;
  border: none;
  padding: 23px 71px;
  cursor: pointer;
  color: #FFFF;
  text-align: center;
  font-size: 23px;
  font-weight: 800;
  text-transform: uppercase;
  width: 100%;
  height: 73px;
  text-decoration: none;
}


.green-btn {
  display: inline-block;
  border-radius: 6px;
  background: #72D624;
  border: none;
  cursor: pointer;
  color: #FFFF;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  width: 50%;
  height: 50px;
  margin-right: 30px;
}

.registration-btn:hover,
.green-btn:hover {
  transition: .3s linear;
  box-shadow: 0 0 107px 0 rgba(114, 214, 36, 0.27);

}

/* Balance */

.balance__content {
  display: flex;
  gap: 33px;
}

.transparent-btn2 {
  border: 3px solid #72D624;
  background-color: transparent;
  display: inline-block;
  border-radius: 6px;
  cursor: pointer;
  color: #FFFF;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  width: 50%;
  height: 50px;
}



.balance {
  background-color: #3B3B3B;
  width: 50%;
  border-radius: 10px;
  color: #FFFF;
  font-size: 18px;
  padding: 40px 87px 70px 50px;

}

.balance__title {
  font-size: 23px;
}

.money__group {
  display: flex;
  gap: 22px;
}

.group__balance-title {
  margin-top: 30px;
  text-transform: uppercase;
}


.Karte {
  height: 48px;
  width: 100%;
  margin-top: 18px;
  border: none;
  padding: 0;
}




/* Offers */
.offers__content {
  width: 100vw;
  height: 100vh;
  background-color: red;
}







/* Generation */
.generation__content {
  width: 100vw;
  height: 100vh;
  background-color: blue;
}